.questTooltip {
    background-color: #b3b3b3;
    color: #fff;
    font-family: 'Helvetica Neue Cyr', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.28px;
    display: none;
    z-index: 1000;
    transition: all 150ms linear;
}

.tooltip {
    background-color: #b3b3b3;
    color: #fff;
    font-family: 'Helvetica Neue Cyr', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.28px;
    display: none;
    z-index: 1000;
    transition: all 150ms linear;
}

.tooltipExit {
    background-color: #000000e7;
    color: #fff;
    font-family: 'Helvetica Neue Cyr', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.28px;
    display: none;
}

@media screen and (min-width: 768px) {

    .questTooltip,
    .tooltip,
    .tooltipExit {
        display: block;
    }
}

