.tooltip {
    background-color: #b3b3b3;
    color: #fff;
    font-family: 'Helvetica Neue Cyr', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.28px;
}

.tooltipExit {
    background-color: #000000e7;
    color: #fff;
    font-family: 'Helvetica Neue Cyr', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.28px;
}