@import-normalize;

@font-face {
  font-family: 'Helvetica Neue Cyr';
  src: url(./fonts/HelveticaNeueCyr-Black.woff) format('woff'),;
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'Helvetica Neue Cyr', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
